.movie-app{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;

    .dropdown-movie{
        margin-bottom: 20px;
    }
    .ui.fluid.dropdown {
        display: block;
        width: 50%;
        min-width: 0;
    }
    .movie-card{
        display: flex;
        flex-direction: column;

        .image-list{
            display:flex;
            flex-direction: row;
            @media only screen and (max-width: 600px){
                flex-direction: column;
                font-size: x-small;
            }
            margin-bottom: 10px;
            
            .ui.image {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                max-width: 150px;
                background-color: transparent;
            }
            @media only screen and (max-width: 600px){
                .ui.image {
                    max-width: 80px;
                    max-height: 50px;
            
                }
            }
           
        }
    }
}






